<!doctype html>
<html>
<head>
<meta charset="UTF-8"> 
<link href="css/style_signin.css" rel="stylesheet" type="text/css"> 
<title>Sign in</title>
</head>

<body>


<div id ="wrapper">  
	<div id ="content"> 
 	<form method="post">
    	<input placeholder="username" type="text" name="name"> <span> <button  id="enter_button"  type="submit">Enter the Room</button></span>
    </form>
    </div>
</div>
</body>
</html>
